---
title: home
page: home
services: {
  mod: 'section__block',
  items: [
    { title: 'Запчасти DAF' },
    { title: 'Запчасти MAN' },
    { title: 'Запчасти грузовики Renault ' },
    { title: 'Запчасти грузовики  Iveco ' },
    { title: 'Запчасти Scania' },
    { title: 'Запчасти грузовики Mercedes' },
    { title: 'Запчасти для грузовиков (универсальные)' },
    { title: 'Запчасти на полуприцепы' },
    { title: 'Запчасти грузовики Volvo ' }
  ]
}
aside: {
  filters: true,
  scedule: true,
  contacts: true,
}
---
{% extends "layouts/_has-aside.html" %}

{% block content %}
  <!-- begin section -->
  <section class="">
    {% include "partials/sliders/_banner.html" %}
    {% include "partials/_services.html" %}

    <div class="grid hidden--mdmin">
      <div class="col col--6">
        {% include "partials/aside/_aside-scedule.html" %}
      </div>
      <div class="col col--6">        
        {% include "partials/aside/_aside-contacts.html" %}
      </div>
    </div>
  </section>
  <!-- end section -->  
{% endblock %}

{% block bottom %}
  {% include "partials/sections/_s-tabs-slider.html" %}
  {% include "partials/sections/_s-text.html" %}
{% endblock %}
