<div class="aside__block meta-block">
  <div class="meta-block__top">Фильтры</div>
  <div class="meta-block__content">
    {{ mixins.input(
      name = 'checkbox',
      mod = 'meta-block__input',
      type = 'checkbox',
      placeholder = '',
      value = '',
      fieldClass = '',
      label = { last: '<span>передние</span>' }
    ) }}

    {{ mixins.input(
      name = 'checkbox',
      mod = 'meta-block__input',
      type = 'checkbox',
      placeholder = '',
      value = '',
      fieldClass = '',
      label = { last: '<span>задние</span>' }
    ) }}

    <div class="meta-block__input input input--range">
      <label class="input__label">Длина</label>

      <div class="input__input"></div>
    </div>

    <div class="meta-block__input input input--range">
      <label class="input__label">Цена</label>

      <div class="input__input"></div>
    </div>
  </div>
</div>