{%set
filters = [
  {
    title: 'Подвеска',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Состояние',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Мост, кардан, редуктор',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Сцепные устройства',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Пневматика, краны, клапаны',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Коробка передач, сцепление',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Рулевой механизм',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Двигатель',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Електр.приборы, освещение',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Фильтры',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Система охлаждения',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Выхлопная система',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Коробка передач, сцепление',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Кабина, навесные части',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Навесные части рамы',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Масла, жидкости',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Универсальные детали',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  }
]
%}

<div class="aside__block aside-block">
  <div class="aside-block__top">
    <div class="aside-block__top-icon"></div>

    Подбор по каталогу
  </div>

  {{ mixins.input(
    name = 'select',
    mod = 'aside-block__input',
    type = '',
    placeholder = '',
    value = '',
    fieldClass = 'js-select',
    options = [
      { value: '1', option: 'Все' },
      { value: '2', option: 'Все1' },
      { value: '3', option: 'Все2' },
      { value: '4', option: 'Все3' }
    ],
    label = { first: '<label>Марка</label>'}
  ) }}

  {{ mixins.input(
    name = 'select',
    mod = 'aside-block__input',
    type = '',
    placeholder = '',
    value = '',
    fieldClass = 'js-select',
    options = [
      { value: '1', option: 'Все' },
      { value: '2', option: 'Все1' },
      { value: '3', option: 'Все2' },
      { value: '4', option: 'Все3' }
    ],
    label = { first: '<label>Модель</label>'}
  ) }}

  <!-- begin aside-filters -->
  <ul class="aside-block__filters aside-filters js-accordion">
    {% for i in filters %}
    <li class="aside-filters__item">
      <div class="aside-filters__icon"></div>
      {{ i.title | safe }}
      {% if i.sublist %}
      <ul class="aside-filters__sublist">
        {% for j in i.sublist %}
        <li class="aside-filters__subitem">
          {% if j.sublist %}
          <div class="aside-filters__icon"></div>
          {% endif %}
          {{ j.title | safe }}
          {% if j.sublist %}
          <ul class="aside-filters__sublist aside-filters__sublist--dark">
            {% for k in j.sublist %}
            <li class="aside-filters__subitem">{{ k.title | safe }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <!-- end aside-filters -->  
</div>