<!-- begin meta-block -->
<div class="aside__block meta-block">
  <div class="meta-block__top">График работы </div>

  <div class="meta-block__content">
    {{ mixins.list(
      name = 'scedule',
      descr = true,
      modifications = { wrap: '', item: '', link: '', dt: 'scedule__title', dd: 'scedule__text' },
      list = [
        { dt: 'Пн. ', dd: '9:00-17:00' },
        { dt: 'Вт.', dd: '9:00-17:00' },
        { dt: 'Ср.', dd: '9:00-17:00' },
        { dt: 'Чт.', dd: '9:00-17:00' },
        { dt: 'Пт.', dd: '9:00-17:00' },
        { dt: 'Сб.', dd: '9:00-14:00' },
        { dt: 'Нд.', dd: 'выходной' }
      ]
    ) }}
  </div>
</div>
<!-- end meta-block -->