<div class="aside__block meta-block{% if asideBlockMod %} {{ asideBlockMod }}{% endif %}">
  <div class="meta-block__top">Фильтры</div>
  <div class="meta-block__content">
    <div class="meta-block__input">
      {{ mixins.input(
        name = 'checkbox',
        mod = '',
        type = 'checkbox',
        placeholder = '',
        value = '',
        fieldClass = '',
        label = { last: '<span class="input__label input__label--checkbox">передние</span>' }
      ) }}
    </div>

    <div class="meta-block__input">
      {{ mixins.input(
        name = 'checkbox',
        mod = '',
        type = 'checkbox',
        placeholder = '',
        value = '',
        fieldClass = '',
        label = { last: '<span class="input__label input__label--checkbox">задние</span>' }
      ) }}
    </div>

    <div class="meta-block__input input input--range">
      <label class="input__label">Длина</label>

      <div class="input__input"></div>
    </div>

    <div class="meta-block__input input input--range">
      <label class="input__label">Цена</label>

      <div class="input__input"></div>
    </div>
  </div>
</div>