{%set
filters = [
  {
    title: 'Подвеска',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Состояние',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Мост, кардан, редуктор',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Сцепные устройства',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Пневматика, краны, клапаны',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Коробка передач, сцепление',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Рулевой механизм',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Двигатель',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Електр.приборы, освещение',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Фильтры',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Система охлаждения',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Выхлопная система',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Коробка передач, сцепление',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Кабина, навесные части',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Навесные части рамы',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Масла, жидкости',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  },
  {
    title: 'Универсальные детали',
    sublist: [
      { title: 'Подушка' },
      { title: 'Амортизаторы' },
      {
        title: 'Рессоры',
        sublist: [
          { title: 'Лист рессоры' },
          { title: 'Рессоры' },
          { title: 'Сайлентблок рессоры' }
        ]
      },
      {
        title: 'Стабилизатор',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Лучевая тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      },
      {
        title: 'Реактивная тяга',
        sublist: [
          { title: 'Втулки стабилизатора' },
          { title: 'Сайлентблок стабилизатора' },
          { title: 'Стойка, тяга стабилизатора' }
        ]
      }
    ]
  }
]
%}

<div class="aside__block aside-filters-block meta-block js-accordion">
  <button
    class="meta-block__top aside-filters-block__top meta-block__top--has-icon js-accordion-title"
    data-block="aside-filters-block__top"
    data-accordion-btn="aside-filters">
    <span class="meta-block__top-icon"><span></span></span>

    <span class="meta-block__title">Подбор по каталогу</span>
  </button>

  <div
    class="meta-block__content aside-filters-block__content js-accordion-content"
    data-block="aside-filters-block__content"
    data-accordion-item="aside-filters">
    {{ mixins.input(
      name = 'select',
      mod = 'meta-block__input',
      type = '',
      placeholder = '',
      value = '',
      fieldClass = 'js-select',
      options = [
        { value: '1', option: 'Все' },
        { value: '2', option: 'Все1' },
        { value: '3', option: 'Все2' },
        { value: '4', option: 'Все3' }
      ],
      label = { first: '<label class="input__label input__label--lg">Марка</label>'}
    ) }}

    {{ mixins.input(
      name = 'select',
      mod = 'meta-block__input',
      type = '',
      placeholder = '',
      value = '',
      fieldClass = 'js-select',
      options = [
        { value: '1', option: 'Все' },
        { value: '2', option: 'Все1' },
        { value: '3', option: 'Все2' },
        { value: '4', option: 'Все3' }
      ],
      label = { first: '<label class="input__label input__label--lg">Модель</label>'}
    ) }}

    <!-- begin aside-filters -->
    <ul class="meta-block__filters aside-filters js-accordion">
      {% for i in filters %}
      <li class="aside-filters__item">
        <button class="aside-filters__btn js-accordion-title" data-block="aside-filters__btn">
          <span class="aside-filters__icon"></span>
          <span class="aside-filters__title" title="{{ i.title }}">{{ i.title | safe }}</span>
        </button>
        {% if i.sublist %}
        <ul class="aside-filters__sublist js-accordion-content" data-block="aside-filters__sublist">
          {% for j in i.sublist %}
          <li class="aside-filters__subitem{% if not j.sublist %} aside-filters__subitem--sm{% endif %}">
            {% if j.sublist %}
            <button class="aside-filters__btn js-accordion-title" data-block="aside-filters__btn">
              <span class="aside-filters__icon"></span>            
              <span class="aside-filters__title" title="{{ j.title }}">{{ j.title | safe }}</span>
            </button>
            {% else %}
            <a href="#" class="aside-filters__link" title="{{ j.title }}">{{ j.title | safe }}</a>
            {% endif %}
            {% if j.sublist %}
            <ul class="aside-filters__sublist aside-filters__sublist--second js-accordion-content" data-block="aside-filters__sublist">
              {% for k in j.sublist %}
              <li class="aside-filters__subitem aside-filters__subitem--sm"><a href="#" class="aside-filters__link" title="{{ j.title }}">{{ k.title | safe }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    <!-- end aside-filters -->
  </div>
</div>