<!-- begin aside -->
<aside class="aside">
  {% if aside.filters %}
    {% include "partials/aside/_aside-filters.html" %}
  {% endif %}

  {% if aside.sliders %}
    {% set asideBlockMod = 'hidden--md' %}
    {% include "partials/aside/_aside-sliders.html" %}
  {% endif %}
  
  {% if aside.contacts %}
    {% set asideBlockMod = 'hidden--md' %}
    {% include "partials/aside/_aside-contacts.html" %}
  {% endif %}
  
  {% if aside.scedule %}
    {% set asideBlockMod = 'hidden--md' %}
    {% include "partials/aside/_aside-scedule.html" %}
  {% endif %}
</aside>
<!-- end aside -->