<div class="aside__block aside-block">
  <div class="aside-block__top">Контакты</div>

  <div class="aside-block__content">
    <div class="aside-block__contacts aside-contacts">
      <div class="aside-contacts__block">
        <div class="aside-contacts__contact aside-contact">
          <div class="aside-contact__icon">
            {{ mixins.icon('viber') }}
          </div>

          <a href="viber://chat?number=380980164356" class="aside-contact__link">098 016 43 56  Viber</a>
        </div>

        

        <div class="aside-contacts__contact aside-contact">
          <div class="aside-contact__icon">
            {{ mixins.icon('call-2') }}
          </div>

          <a href="tel:0669240607" class="aside-contact__link">066 924 06 07</a>
        </div>

        <div class="aside-contacts__contact aside-contact">
          <div class="aside-contact__icon">
            {{ mixins.icon('call-2') }}
          </div>

          <a href="tel:0936753134" class="aside-contact__link">093 675 31 34</a>
        </div>        
      </div>

      <div class="aside-contacts__block">
        <div class="aside-contacts__contact aside-contact">
          <div class="aside-contact__icon">
            {{ mixins.icon('email') }}
          </div>

          <a href="email:6753134@gmail.com" class="aside-contact__link">6753134@gmail.com</a>
        </div>
      </div>

      <div class="aside-contacts__block">
        <div class="aside-contacts__contact aside-contact">
          <div class="aside-contact__icon">
            {{ mixins.icon('skype') }}
          </div>

          <a href="skype:altis-avto" class="aside-contact__link">altis-avto</a>
        </div>
      </div>

      <div class="aside-contacts__block"></div>
    </div>
  </div>
</div>