{%set
form = {
  title: 'покупатель',
  blocks: [
    {
      fields: [
        {
          name: 'input',
          mod: '',
          type: 'text',
          placeholder: '',
          fieldClass: '',
          fieldAttributes: '',
          label: { first: '<span class="input__label">Контактное лицо*</span>'}
        },
        {
          name: 'input',
          mod: '',
          type: 'email',
          placeholder: '',
          fieldClass: '',
          fieldAttributes: '',
          label: { first: '<span class="input__label">Email*</span>'}
        },
        {
          name: 'input',
          mod: '',
          type: 'tel',
          placeholder: '',
          fieldClass: '',
          fieldAttributes: '',
          label: { first: '<span class="input__label">Контактный телефон*</span>'}
        }
      ]
    },
    {
      title: 'Адрес доставки',
      fields: [
        {
          name: 'input',
          mod: '',
          type: 'text',
          placeholder: 'Населенный пункт',
          fieldClass: '',
          fieldAttributes: '',
          label: {}
        },
        {
          name: 'input',
          mod: '',
          type: 'text',
          placeholder: 'Адрес доставки',
          fieldClass: '',
          fieldAttributes: '',
          label: {}
        },
        {
          name: 'textarea',
          mod: '',
          type: '',
          placeholder: 'Комментарии к заказу',
          fieldClass: 'js-textarea',
          fieldAttributes: '',
          label: {}
        }
      ]
    }
  ]
}
%}

{%set
items = [
  {
    mod: 'cart__item cart-item--order'
  },
  {
    mod: 'cart__item cart-item--order'
  }
]
%}

{%set
controlsBlocks = [
  {
    mod: 'cart-controls-blocks__block--full',
    title: 'Способ доставки*',
    fields: [
      {
        label: { last: '<span class="input__label input__label--radio">Самовывоз</span><span class="input__label-sm">в точке продажи</span>' },
        fieldAttributes: { name: 'delivery' }
      },
      {
        label: { last: '<span class="input__label input__label--radio">Доставка транспортной компанией</span><span class="input__label-sm">Без комиссии</span>' },
        fieldAttributes: { name: 'delivery' }
      }
    ]
  },
  {
    title: 'Способ оплаты*',
    fields: [
      {
        label: { last: '<span class="input__label input__label--radio">Наличными курьеру</span><span class="input__label-sm">Наличными курьеру</span>' },
        fieldAttributes: { name: 'delivery' }
      },
      {
        label: { last: '<span class="input__label input__label--radio">Оплата картой через Интернет</span><span class="input__label-sm">Без комиссии</span>' },
        fieldAttributes: { name: 'delivery' }
      }
    ]
  },
  { btn: true }
]
%}

<!-- begin section -->
<section class="section order-page">
   <div class="container">
     <div class="order-page__inner">
       <div class="order-page__left">
         {% include "partials/_form.html" %}
       </div>

       <div class="order-page__right">
         <form class="block cart cart--order">
           <div class="cart__items">
            {% for i in items %}
            {% include "partials/_cart-item.html" %}
            {% endfor %}
          </div>

          <div class="cart__price">
            {{ mixins.list(
              name = 'cart-list',
              descr = true,
              modifications = { wrap: '', item: '', link: '', dt: 'cart-list__title', dd: 'cart-list__text' },
              list = [
                { dt: 'Ваша выгода:', dd: '200 грн' },
                { dt: 'Итого с учётом скидки: ', dd: '8000 грн' }
              ]
            ) }}
          </div>

          <div class="cart__controls">
            <div class="cart__amount">
              <div class="cart__controls-title">ИТОГО:</div>
              <div class="cart__controls-price-label price-label">
                2000 <small>грн</small>
              </div>
            </div>

            <div class="cart__controls-blocks cart-controls-blocks">
              {% for i in controlsBlocks %}
              <div class="cart-controls-blocks__block{% if i.mod %} {{ mod }}{% endif %}">
                {% if i.title %}
                  <h3 class="cart-controls-blocks__title title title--h3">{{ i.title | safe }}</h3>
                {% endif %}

                {% if i.fields %}
                <div class="cart-controls-blocks__fields">
                  {% for j in i.fields %}
                  {{ mixins.input(
                    name = 'radio',
                    mod = '',
                    type = 'radio',
                    placeholder = '',
                    value = '',
                    fieldClass = '',
                    fieldAttributes = j.fieldAttributes,
                    label = j.label
                  ) }}
                  {% endfor %}
                </div>
                {% endif %}

                {% if i.btn %}
                  {{ mixins.btn(
                    title = 'Оформить',
                    mod = '',
                    href = false
                  ) }}
                {% endif %}

              </div>
              {% endfor %}
            </div>
          </div>
        </form>
       </div>
     </div>
   </div>
</section>
<!-- end section -->