.footer
  &__top
    padding-top: rem(30)
    padding-bottom: rem(50)
    position: relative
    +cover
    background-color: $c-border
    +lg
      padding-bottom: rem(30)
  &__middle
    background-color: $white
    padding-top: rem(30)
    padding-bottom: rem(30)
    +md
      padding-top: rem(15)
      padding-bottom: rem(15)
  &__bottom
    padding-top: rem(15)
    padding-bottom: rem(15)
    background-color: $accent-dark
    text-align: center
    color: $white
    font-weight: 700
  &__title
    margin-bottom: rem(20)
  &__text
    font-size: em(9.69)
    color: #a8a8a8
  &__imgs
    +flex(center, center)
    img
      margin-left: rem(5)
      margin-right: rem(5)
  &__scroll-top
    position: absolute
    z-index: 10
    right: rem(30)
    bottom: rem(30)
    +lg
      position: static
      margin-left: auto
      margin-right: auto
      margin-top: rem(20)