.header
  $this: &
  &__top
    border-bottom: 1px solid #e6e6e6
  &__inner
    +flex(flex-start, center, row, wrap)
    padding-top: rem(10)
    padding-bottom: rem(10)
    #{$this}__top &
      height: $header-top-height
      +lg
        height: $header-top-height-lg
    #{$this}__bottom &
      height: $header-bottom-height
      +lg
        height: auto
        padding-top: 0
        padding-bottom: 0
  &__bottom
    background-color: $white
    border-bottom: 1px solid #e6e6e6
    +lg
      background-color: transparent
      overflow: hidden
  &__logo
    margin-right: rem(70)
    +lg
      display: none
  &__logo-mob
    +lgmin
      display: none
  &__logo-mob-menu
    margin-bottom: rem(30)
    +lgmin
      display: none
  &__search
    margin-right: rem(20)
    +lg
      margin-right: 0
      width: calc(50% - #{rem(8)})
      margin-left: rem(4)
      margin-right: rem(4)
      position: relative
      z-index: 1
  &__btn
    +lg
      width: calc(50% - #{rem(8)})
      margin-left: rem(4)
      margin-right: rem(4)
      position: relative
      z-index: 1
    +xs
      width: calc(50% - #{rem(8)}) !important
  &__controls
    +flex(flex-start, center)
    +lg
      width: calc(100% + #{rem(8)})
      height: rem(90)
      margin-left: rem(-4)
      margin-right: rem(-4)
      background-color: $white
      position: relative
      +before
        z-index: 0
        position: absolute
        left: -40px
        right: -40px
        top: 0
        bottom: 0
        background-color: $white
  &__contacts-wrap
    +flex(flex-start, center)
    flex-grow: 1
    +lg
      padding-top: rem(20)
      padding-bottom: rem(20)
  &__cart
    margin-left: rem(40)
    +lg
      margin-left: rem(20)
    +r(374)
      margin-left: rem(5)
  &__contacts
    flex-grow: 1
    padding-left: rem(35)
    +lg
      padding-left: 0
  &__contacts-mob
    border-top: 1px solid  $c-border
    border-bottom: 1px solid  $c-border
    padding: rem(15) rem(20)
    margin-left: rem(-20)
    margin-right: rem(-20)
    +lgmin
      display: none
    #{$this}__contact
      +notlast
        margin-bottom: rem(10)
  &__nav-wrap
    +lg
      +shadow
      position: absolute
      top: 0
      left: 0
      z-index: 10
      background-color: $white
      border-bottom-right-radius: $radius-sm
      padding: rem(15) rem(20) rem(70)
      width: 460px
      max-width: percentage(460 / 500)
      transform: translate(-105%, 0)
      +ready
        +tr(transform .5s)
      &--open
        transform: translate(0, 0)

  &__nav
    +lg
      padding-top: rem(20)
  &__burger
    color: $accent
    margin-right: rem(30)
    +lgmin
      display: none
    +xxs
      margin-right: rem(15)
    +r(374)
      margin-right: rem(5)


.header-cart
  position: relative
  color: #9e9e9e
  padding-top: 1em
  padding-right: 1em
  .icon
    font-size: em(33)
  &__sup
    +flex(center, center)
    position: absolute
    z-index: 1
    top: rem(-11)
    right: rem(-11)
    background-color: $accent-aux
    color: $white
    border-radius: 50%
    height: rem(22)
    min-width: rem(22)
    +lg
      top: 0
      right: 0
      height: rem(16)
      min-width: rem(16)
      font-size: .7em

.burger 
  $this: &
  display: flex
  align-items: center
  justify-content: center
  width: rem(23)
  height: rem(19)
  position: relative
  span
    display: block
    &, &::after, &::before
      width: 100%
      height: rem(2)
      background-color: currentColor
      backface-visibility: hidden
      +tr(transform .3s)
    &::after, &::before
      content: ""
      position: absolute
      left: 0
    &::after
      top: 0
    &::before
      bottom: 0
  // &--active 
  //   span
  //     background-color: transparent
  //     &::before
  //       transform: rotate(45deg) translate(-7px,-5px)
  //     &::after
  //       transform: rotate(-45deg) translate(-6px,4px)
  &--lg
    width: rem(50)
    height: rem(45)
    +r(374)
      width: rem(40)
      height: rem(35)
    span
      &, &::after, &::before
        height: rem(4)
        border-radius: $radius
