.input
  $this: &
  display: block
  &__field
    width: 100%
    background-color: $white
    height: rem(40)
    border: 1px solid  $c-border
    padding: .7em 1.2em
    +placeholder
      color: inherit
  &__label
    display: block
    margin-bottom: .1em
    &--lg      
      font-weight: 600
      font-size: em(16)
    &--checkbox
      margin-bottom: 0
      display: inline
    &--radio
      font-weight: 600
      font-size: em(16)
      margin-bottom: 0
      line-height: 1
  &__label-sm
    font-size: em(12)
      

  &--checkbox
    display: inline-block
    position: relative
    padding-left: 1.5em
    user-select: none
    #{$this}__field
      &[type="checkbox"]
        opacity: 0
        visibility: hidden
        position: absolute
        &:checked + #{$this}__label
          &::after
            content: ''
            +icon-arrow(.6, .3, .05, #000, -45, em)
            top: .4em
            left: .35em
            position: absolute
            display: block
    #{$this}__label
      &::before
        content: ''
        border: 1px solid $c-border
        width: 1.2em
        height: 1.2em
        top: 0
        left: 0
        background-color: $white
        position: absolute
        display: block
        border-radius: $radius-sm

  &--radio
    display: inline-block
    position: relative
    padding-left: 2em
    user-select: none
    #{$this}__field
      &[type="radio"]
        opacity: 0
        visibility: hidden
        position: absolute
        &:checked + #{$this}__label
          &::after
            content: ''
            +icon-arrow(.6, .3, .05, #000, -45, em)
            top: .4em
            left: .35em
            position: absolute
            display: block
    #{$this}__label
      &::before
        content: ''
        border: 1px solid $c-border
        width: 1.3em
        height: 1.3em
        top: 0
        left: 0
        background-color: $white
        position: absolute
        display: block

  &--textarea
    #{$this}__field
      min-height: rem(130)
  &--lg
    #{$this}__field
      height: rem(62)
      border: 0
      background-color: $light


.custom-select
  $this: &
  position: relative
  font-size: em(12)
  select
    opacity: 0
    position: absolute
    width: 0
    height: 0
    z-index: -10
  &__opener
    background-color: $light
    border-radius: $radius
    border: 1px solid $c-border
    +flex(flex-start, center)
    padding: .75em 1em
    position: relative
    cursor: pointer
    +after
      +icon-arrow(.9, .9, .06, $accent, -45, em)
      display: block
      position: absolute
      z-index: 1
      top: 50%
      right: em(14)
      transform: translate(0, -50%) rotate(-45deg)
      margin-top: -.1em
  &__panel
    position: absolute
    z-index: 10
    top: 100%
    left: 0
    right: 0
    max-height: 300px
    border-radius: $radius
    border-top-left-radius: 0
    border-top-right-radius: 0
    overflow: auto
    background-color: $light
    +hidden
    +ready
      // +tr(opacity .3s, visibility .3s)
  &__option
    padding: .75em 1em
    +tr(background-color .3s, color .3s)
    cursor: pointer
    +hover
      background-color: $c-border

  &--open
    #{$this}__panel
      +visible



