.order-page
  &__inner
    +flex(flex-start, normal, row, wrap)
  &__left
    width: percentage(415 / 1140)
    padding-right: rem(5)
  &__right
    width: percentage((1140 - 415) / 1140)
    padding-left: rem(5)